.countDownBox {
    width: 44%;
    margin: 20px auto;
    display: flex;
    display: -webkit-flex;
    /* 在x轴上排布一行换行 */
    flex-flow: row wrap;
    /* 分布排列样式 */
    justify-content: space-between;
    /* 垂直居中 */
    align-items: center;
    position: relative;
}

.countDownBox div {
    width: 90px;
    height: 90px;
    color: #fff;
    font: 40px "宋体";
    text-align: center;
    line-height: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.countDownBox span {
    width: 90px;
    height: 90px;
    line-height: 80px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
}

.timetext {
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}